{% extends 'base.html' %}
{% block title %}About |{% endblock title %}



{% block body   %}
<div class="top" > <img src="https://source.unsplash.com/random/1600x300/?food" class="img-fluid" alt="..."></div>


 
<div class="container-fluid "  style="background-color: whitesmoke;">



    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
        
      
        <main class="px-3 my-4">
          <h1 class="py-4">Welcome to Doon Restaurant</h1>
          <p class="lead">At <b>Doon Restaurant </b>, we believe that dining is not just about eating; it's an experience to savor, cherish, and remember. Nestled in the heart of Dehradun, our restaurant is the perfect blend of culinary excellence, warm ambiance, and exceptional service. Whether you're celebrating a special occasion or seeking a delightful evening out with friends and family, we are dedicated to providing you with an unforgettable dining journey.</p>
         
          <h4>Our Culinary Delights</h4>

          <p class="lead">Prepare your taste buds for a culinary adventure like no other. Our talented team of chefs, led by our esteemed Head Chef <b>Gaurav Bhatt</b>, is committed to crafting dishes that tantalize and excite. From traditional favorites to innovative creations, our diverse menu caters to all palates. We source the finest, freshest, and locally-sourced ingredients to ensure every dish is a masterpiece of flavors and textures.</p>


          <h4>Elegant Ambiance</h4>

          <p class="lead">Step into a world of sophistication and charm as you enter Doon Restaurant. Our tastefully designed interiors blend modern aesthetics with classic elements, creating an elegant and inviting space for all our guests. The ambiance sets the perfect tone for a romantic dinner, friendly gatherings, or intimate celebrations.</p>



          <h4>Exceptional Service</h4>

          <p class="lead">At Doon Restaurant, we pride ourselves on delivering exceptional service that matches the quality of our cuisine. Our friendly and attentive staff is dedicated to making your dining experience seamless and enjoyable. From recommending the perfect wine pairing to accommodating special dietary requirements, we go the extra mile to ensure you leave with a smile.</p>


          <h4>Reservations</h4>

          <p class="lead">To ensure you have a guaranteed spot at our sought-after establishment, we recommend making a reservation in advance. You can easily book your table through our website or by calling our friendly team..</p>


          
          <h4>Location and Hours</h4>

          <p class="lead">Doon Restaurant is conveniently located at Nehru Colony near Fountain Chowk, easily accessible from major landmarks in Dehradun. We are open 24X7 for Lunch and Dinner. Check our website for our detailed operating hours.</p>

          <p class="lead">Discover a world of culinary delights, warm hospitality, and unforgettable memories at <b><i>Doon Restaurant</i></b>. We eagerly await the pleasure of serving you soon!</p>
          
        </main>
      
        
      </div>
</div>



{% endblock body %}
